body {
    font-family: sans-serif;
    margin: none;
    padding: none;
    background-image: linear-gradient(#ffffff, #ff4545);
    background-repeat: no-repeat
    background-size: 100% 100%;
    background-attachment: fixed;
}
header {
    background-image: linear-gradient(#3333dd, #7777ee);
    max-width: 60rem;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
}
hgroup p {
    font-size: 2rem;
    margin: none;
}
hgroup h1 {
    margin: none;
}
nav {
    background-color: ghostwhite;
    max-width: 60rem;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}
nav a {
    margin-left: 10px;
    margin-right: 10px;
}
main {
    background-color: white;
    max-width: 60rem;
    padding: 10px;
    margin: auto;
}
h1 {
    font-size: 2.5rem;
}
p {
    font-size: 1.2rem;
}
a {
    color: goldenrod;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: orange;
}
.current-page {
    color: orangered;
}